* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;
}

.mainbox {
    width: 1080px;
    margin: auto;
    position: relative;
}

.titlebox {
    width: 100%;
    height: 40px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titlebox input {
    margin-left: 10px;
}

.titlebox span {
    color: #999999;
}

.goodsbox {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.bbox{
    width: 100%;
    height: 80px;
    margin-top: 100px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.jiesuan{
    background-color: #C00000;
    position: absolute;
    right: 0;
    width: 200px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.jiesuan:hover{
    background-color: #C90214;
}