<div class="searchbox">
    <img src="../../public/images/logo.d1484e61.png" alt="" class="logo2" />
    <h4 style="padding-left: 120px">限时抢购</h4>
    <div class="searchbox_box">
        <form action="/goods_info/chazhaos" method="GET">
            <i class="glyphicon glyphicon-search" style="font-size: 18px;margin-right: 10px"></i>
            <input type="text" name="tiaojian" placeholder="搜一搜" style="background-color: transparent"/>
            <button type="submit" style="display: none" class="tj"></button>
        </form>
    </div>
    <a class=" glyphicon glyphicon-shopping-cart" href="/user_goods_car/goods_car" target="_blank"></a>
</div>