<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <title>{{pageTitle}}</title>
    <!--[if lt ie 9]>
        <script src="../public/bootstrapV3/html5shiv.min.js" type="text/javascript"></script>
        <script src="../public/bootstrapV3/respond.min.js" type="text/javascript"></script>
        <![end if]-->
        <link rel="icon" href="../public/images/微信图片_20190320002702.png" type="image/png">
    <link rel="stylesheet" href="../public/bootstrapV3/css/bootstrap.min.css" type="text/css">
    <script src="../public/bootstrapV3/js/jquery.min.js" type="text/javascript"></script>
    <script src="../public/bootstrapV3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../public/layer/layer.js" type="text/javascript"></script>
</head>

<body>
   

