<div class="panel-group" id="menu">
    <div class="panel">
        <ul class="list-group" data-target="#m1" data-toggle="collapse" data-parent="#menu">
            <li class="list-group-item text-center" style="padding: 0">
                <h4>影厅管理</h4>
            </li>
        </ul>
        <ul class="list-group collapse" id="m1">
            <li class="text-center" style="height: 30px;line-height: 30px">
                <a href="hallInfo/hallList" target="iframe">影厅列表</a>
            </li>
            <li class="text-center" style="height: 30px;line-height: 30px">
                <a href="hallInfo/addHall" target="iframe">添加影厅</a>
            </li>
        </ul>
    </div>

    <div class="panel">
        <ul class="list-group" data-target="#m2" data-toggle="collapse" data-parent="#menu">
            <li class="list-group-item text-center" style="padding: 0">
                <h4>用户管理</h4>
            </li>
        </ul>
        <ul class="list-group collapse" id="m2">
            <li class="text-center" style="height: 30px;line-height: 30px">
                <a href="userInfo/adminList" target="iframe">管理员列表</a>
            </li>
            <li class="text-center" style="height: 30px;line-height: 30px">
                <a href="userInfo/userList" target="iframe">用户列表</a>
            </li>
        </ul>
    </div>

    <div class="panel">
        <ul class="list-group" data-target="#m4" data-toggle="collapse" data-parent="#menu">
            <li class="list-group-item text-center" style="padding: 0">
                <h4>影片管理</h4>
            </li>
        </ul>
        <ul class="list-group collapse" id="m4">
            <li class="text-center" style="height: 30px;line-height: 30px">
                <a href="#">新增影片</a>
            </li>
            <li class="text-center" style="height: 30px;line-height: 30px">
                <a href="#">删除影片</a>
            </li>
        </ul>
    </div>
    <div class="panel">
        <ul class="list-group" data-target="#m4" data-toggle="collapse" data-parent="#menu">
            <li class="list-group-item text-center" style="padding: 0">
                <h4>更多功能 即将上线</h4>
            </li>
        </ul>
        <ul class="list-group collapse" id="m4">
            <li class="text-center" style="height: 30px;line-height: 30px">
                <a href="#">子菜单</a>
            </li>
            <li class="text-center" style="height: 30px;line-height: 30px">
                <a href="#">子菜单</a>
            </li>
        </ul>
    </div>
</div>